<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="public/css/select.css">
	<link rel="stylesheet" href="public/css/style.min.css">

	<script type="text/javascript" src=public/js/jquery-latest.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>

	<!-- bxSlider Javascript file -->
	<script src="public/js/jquery.bxslider.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
		  $('.bxslider').bxSlider({
		  	slideWidth: 160,
				minSlides: 5,
				maxSlides: 5,
				moveSlides: 1,
				slideMargin: 15,
				pager: false
		  });
		});
	</script>

	<!-- bxSlider CSS file -->
	<link href="public/css/jquery.bxslider.css" rel="stylesheet" />
</head>
<body>
	<div class="wraper">
		<header>
			<div class="container">
				<div class="header__block header__logo">
					<a href="#" class="logo__link"><img src="public/images/logo.png" alt=""></a>
				</div>

				<div class="header__block header__basket">
					basket
				</div>

				<div class="header__block">
					<div class="header__login">
						<a href="/auth" class="login_link">Вход</a>
						<span class="login__separator">/</span>
						<a href="/auth" class="registration_link">Регистрация</a>
					</div>
					<div class="header__search">
						<form action="#" class="header-search__form">
							<input type="text"	 class="header-search__text" placeholder="Поиск по артиклу или id">
							<input type="submit" class="header-search__button" value="&nbsp;">
						</form>
					</div>
				</div>
			</div>
		</header>

		<%- include('layout/menu__dark'); %>
		<%- include('layout/menu__light'); %>

		<div class="container">
			<div class="product__wrap">

				<!-- карточка товара -->
				<% if (status == 200) { %>

				<div class="product-img__wrap">
					<img src="public/<%= product[0].product_img %>" alt="" class="product__img-main">
				</div>

				<div class="product__info">
					<h3 class="product-info__title clearfix"><%= product[0].product_title %></h3>
					<div class="product__articul clearfix"><p>Акртикул <span>2564343</span></p></div>
					<div class="product__text">
						<p>Ничто так не красит человека как благородство, а с этим изделием вам позавидуют даже дворянки!</p>
					</div>
					<div class="characters__wrap clearfix">
						<h4 class="characters__title">Характеристики</h4>

						<table>
							<!-- карточка товара -->
							<% var data = JSON.parse(product[0].product_specifications_JSON); %>

							<% if (data) { %>
								<% data.forEach(function (item) { %>
									<tr>
										<td><%= item.name %></td>
										<td><%= item.value %></td>
									</tr>
								<% }); %>
							<% } else { %>
								<p>Информация отсутствует..</p>
							<% } %>

							<!-- карточка товара -->
						</table>
					</div>

					<div class="product__menu">
						<a href="#" class="menu__btn-add_to_bookmark">В закладки</a>
						<a href="#" class="menu__btn-add_to_compare">К сравнению</a>
					</div>

					<div class="product__footer">
						<div class="product__price">

							<% if (product[0].product_discount_value > 0) { %>
								<p class="product__last-price"><%= product[0].product_price%></p>
								<p class="product__new-price"><%= product[0].product_price - product[0].product_price *  product[0].product_discount_value / 100%></p>
							<% } else { %>
								<p class="product__new-price"><%= product[0].product_price%></p>
							<% } %>
						</div>
						<a href="#" class="product__btn">В корзину</a>
					</div>
				</div>

				<% } else { %>
				<div class="product__info">
					Запрошенный Вами товар не найден! Пожалуйста, повторите запрос позже!
				</div>
				<% } %>
				<!-- карточка товара -->


				
			</div>

			<div class="same_product">
			<h3 class="black_title">Похожие товары</h3>
				<ul class="bxslider">
					<li><a href="catalog.html"><img src="public/images/products/021075.jpg" height="160" width="160" title="Текс 1" /></a></li>
					<li><a href="catalog.html"><img src="public/images/products/021457.jpg" height="160" width="160" title="Текс 2"/></a></li>
					<li><a href="catalog.html"><img src="public/images/products/021929.jpg" height="160" width="160" title="Текс 3"/></a></li>
					<li><a href="catalog.html"><img src="public/images/products/021939.jpg" height="160" width="160" title="Текс 4"/></a></li>
					<li><a href="catalog.html"><img src="public/images/products/021987.jpg" height="160" width="160" title="Текс 5"/></a></li>
				</ul>
			</div>

			<div class="leaders__wrap">
				<h3 class="black_title">Лидеры продаж</h3>
				<div class="b-items leaders-blocks__wrap">

					<!-- карточка товара -->
					<div class="leader__item">
						<img src="public/images/products/021987.jpg" alt="product_1.png" class="leader-item__img">

						<h3 class="leader-item__title">Серьги длинные золотые</h3>

						<div class="leader-item__footer">
							<span class="item__price">От 12 300 р.</span>
							<div class="leader__btn-wrap">
								<input type="checkbox" id="takeProduct1">
								<label for="takeProduct1"><span></span>Беру</label>
							</div>
						</div>
					</div>
					<!-- карточка товара -->
					<!-- карточка товара -->
					<div class="leader__item">
						<img src="public/images/products/021929.jpg" alt="product_1.png" class="leader-item__img">

						<h3 class="leader-item__title">Серьги длинные золотые</h3>

						<div class="leader-item__footer">
							<span class="item__price">От 12 300 р.</span>
							<div class="leader__btn-wrap">
								<input type="checkbox" id="takeProduct2">
								<label for="takeProduct2"><span></span>Беру</label>
							</div>
						</div>
					</div>
					<!-- карточка товара -->
					<!-- карточка товара -->
					<div class="leader__item">
						<img src="public/images/products/021939.jpg" alt="product_1.png" class="leader-item__img">

						<h3 class="leader-item__title">Серьги длинные золотые</h3>

						<div class="leader-item__footer">
							<span class="item__price">От 12 300 р.</span>
							<div class="leader__btn-wrap">
								<input type="checkbox" id="takeProduct3">
								<label for="takeProduct3"><span></span>Беру</label>
							</div>
						</div>
					</div>
					<!-- карточка товара -->
					<!-- карточка товара -->
					<div class="leader__item">
						<img src="public/images/product_1.png" alt="product_1.png" class="leader-item__img">

						<h3 class="leader-item__title">Серьги длинные золотые</h3>

						<div class="leader-item__footer">
							<span class="item__price">От 12 300 р.</span>
							<div class="leader__btn-wrap">
								<input type="checkbox" id="takeProduct4">
								<label for="takeProduct4"><span></span>Беру</label>
							</div>
						</div>
					</div>
					<!-- карточка товара -->
					<!-- карточка товара -->
					<div class="leader__item">
						<img src="public/images/products/021929.jpg" alt="product_1.png" class="leader-item__img">

						<h3 class="leader-item__title">Серьги длинные золотые</h3>

						<div class="leader-item__footer">
							<span class="item__price">От 12 300 р.</span>
							<div class="leader__btn-wrap">
								<input type="checkbox" id="takeProduct5">
								<label for="takeProduct5"><span></span>Беру</label>
							</div>
						</div>
					</div>
					<!-- карточка товара -->

				</div>
			</div>
		</div>	<!-- //контейнер -->

<%- include('layout/footer'); %>